__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/

#data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
catboost_info/
output/submissions/*
!output/submissions/.gitkeep

models/*
!models/age_model.joblib
!models/.gitkeep

.env